@charset "UTF-8";

/*Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html {
    background-color: gray;
}

header {
    background-color: rgb(48, 47, 47);
    color: white;
}
header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}
meu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid gray;
}
menu a:hover {
    background-color: lightgray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2, h3 {
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 10px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}

article > ul, ol {
    padding-left: 30px;
    margin-left: 0;
}