@charset "UTF-8";
/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(251, 255, 0);
}
h1#principal {
    text-align: center;
    background-color: rgb(48, 100, 100);
    color: aliceblue;
}
h2{
    color: rgb(176, 179, 35);
}
.basico{
    color: blueviolet;
}
.intermediario{
    color: chocolate;
}
.avancado{
    color: crimson;
}
